@import '../../utilities.scss';

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#chat-wrapper {
    max-width: 350px;
    min-width: 300px;
    background-color: white;
    float: right;
    font-family: $main-font;
    height: 85%;
    padding-bottom: 1em;
    position: fixed;
    right: 0;
    bottom: 45px;
    overflow: hidden;
    transition: all .2s;
    .user-name {
        margin: 0;
        margin-right: .5em;
        color: $name-color;
        font-size: 90%;
        display: inline;
    }
    .chat-form-button {
        background-image: url('../../assets/chat-send.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        width: 28px;
        height: 28px;
        float: right;
        margin-right: .5em;
        &:hover {
            cursor: pointer;
        }
        
    }
    #chat-title {
        text-align: center;
        font-family: $main-font;
        font-size: 60%;
        background-color: $main-color;
        &:hover {
            cursor: pointer;
        }
        h2 {
            margin: 0;
            padding: .8em;
            color: white;
        }
    }
    #chat-container {
        width: 100%;
        height: 100%;
        padding: 0 1em;
        box-sizing: border-box;
        overflow-y: auto;
        #chat-message {
            width: 100%;
            font-family: $main-font;
            margin: 1em 0;
            text-align: left;
            word-break: break-word;
            overflow-wrap: break-word;
            display: flex;
            opacity: 0;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-duration: .5s;
            p {
                display: inline;
                margin: 0;
                padding: 0;
                font-size: 90%;
            }
            img {
                border-radius: 100%;
                width: 25px;
                height: 25px;
            }

            #message-details {
                display: inline-block;
                width: 86%;
            }

            #chat-avatar {
                display: inline-block;
                width: 30px;
                margin-right: .2em;
            }
        }
    }

    #chat-form-wrapper {
        min-height: 200px;
    }

    #message-form {
        display: block;
        textarea {
            display: block;
            margin: 0 auto;
            border: 1px solid gray;
            box-sizing: border-box;
            width: 90%;
           
            padding: .5em;
            border: 1px solid rgb(221, 221, 221);
            resize: none;
            box-sizing: border-box;
            overflow: hidden;
            font-family: $main-font;
            font-size: 90%;
            &:active, &:focus {
                outline: none;
            }
        }
    }
    #user-information {
        padding: 0 1em;
        margin-bottom: 1.5em;
        margin-top: 1em;
        position: relative;
        img {
            margin-right: .5em;
            width: 32px;
            display: inline-block;
            top: 10px;
            position: relative;
        }
        
    }
    #feature-tab {
        padding: 0 1em;
        margin-top: 1.5em;
        position: relative;
        span {
            margin-right: 1em;
            position: relative;
            top: 5px;
        }
        img {
            width: 25px;
            height: 25px;
            margin: 0 1em;
        }
        #send-section {
            float: right;
        }
    }
    
    #picker-toggler {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url('../../assets/smiling.svg');
        opacity: 0.8;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: .2em;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    
}