@import '../../utilities.scss';
.artist-name {
    display: block;
    color: $name-color;
}
.track-name {
    display: inline-block;
    
}

.album-cover-icon {
    width: 50px;
    height: 40px;
    padding-top: .2em;
    margin-left: .5em;
    float: left;
}

#music-bar {
    width: 100%;
    height: 45px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: $main-font;
    font-size: 95%;
    border-top: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    
    #track-details {
        flex: 2;
        text-align: left;
        p {
            margin: 0;
        }
        #track-info {
            float: left;
            margin-left: 1em;
            margin-top: .4em;
        }
    }
    #center-audio-controls {
        flex: 3;
        p {
            display: inline-block;
            position: relative;
            top: -10px;
        }
        #progress-wrapper {
            display: inline-block;
            padding: 0 1em;
            width: 80%;
            height: 90%;
            &:hover {
                cursor: pointer;
            }
        }
        #playback-progress {
            margin-top: 1.5em;
            background: gray;
            width: 100%;
            height: 1px;
        }
    }
    #right-audio-controls {
        flex: 1;
        button {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 1em;
            margin-top: .8em;
            width: 20px;
            height: 20px;
            &:hover {
                cursor: pointer;
            }
        }
        .pause-button {
            background-image: url('../../assets/pause.svg');
        }
        .play-button {
            background-image: url('../../assets/play-button.svg');
        }
        #skip-left-btn {
            background-image: url('../../assets/skip-track.svg');
            transform: scaleX(-1);
            opacity: 0.8;
            transition: all .2s;
            &:hover {
                opacity: 1;
            }
        }
        #skip-right-btn {
            background-image: url('../../assets/skip-track.svg');
            opacity: 0.8;
            transition: all .2s;
            &:hover {
                opacity: 1;
            }
        }
    }
}