@import '../../utilities.scss';
.artist-name {
    display: block;
    color: $name-color;
}
.track-name {
    display: inline-block;
    
}


//Icons
.play-playlist {
    width: 32px;
    height: 32px;
    margin-left: 1.5em;
    background-image: url('../../assets/stream-play.svg');
    &:hover {
        cursor: pointer;
    }
}
.playlist-pause {
    width: 32px;
    height: 32px;
    margin-left: 1.5em;
    background-image: url('../../assets/playlist-pause.svg');
    &:hover {
        cursor: pointer;
    }
}
.expand-playlist {
    width: 32px;
    height: 32px;
    margin-top: .4em;
    background-image: url('../../assets/down-arrow.svg');
    transition: all .2s;
    &:hover {
        cursor: pointer;
    }
}
.expanded-playlist {
    width: 32px;
    height: 32px;
    margin-top: .4em;
    background-image: url('../../assets/down-arrow.svg');
    transition: all .2s;
    transform: rotate(180deg);
    &:hover {
        cursor: pointer;
    }
}
//----------

.pm-track-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.track-playing {
    background: white !important;
    color: black !important;
}
.pm-track-container {
    padding: 0 1em;
    height: 40px;
    border: 1px solid transparent;
    letter-spacing: .1em;
    &:hover {
        border: 1px solid white;
        cursor: pointer;
    }
    img {
        width: 40px;
        height: 40px;
        margin-right: 1em;
        float: left;
    }
    p {
        display: inline-block;
        line-height: 1.5em;
    }
    .track-artist {
        margin-left: 1em;
        font-size: 100%;
        color: lighten($color: $name-color, $amount: 50%);
    }
}

.album-cover-icon {
    width: 50px;
    height: 40px;
    padding-top: .2em;
    margin-left: .5em;
    float: left;
}

#playlist-manager-wrapper {
    width: 450px;
    max-width: 450px;
    min-width: 300px;
    height: 400px;
    background-color: #18191A;
    color: white;
    position: fixed;
    float: left;
    bottom: 50px;
    font-family: $main-font;
    transition: all .2s;
    #playlist-title {
        text-align: center;
        font-family: $main-font;
        font-size: 65%;
        background-color: $main-color;
        &:hover {
            cursor: pointer;
        }
        h2 {
            margin: 0;
            padding: .8em;
            color: white;
        }
    }
    .playlists-container {
        height: 94%;
        overflow-y: auto;
        .playlist-controls {
            width: 100px;
            height: 100%;
            float: right;
        }
        .playlist-box {
            padding: .5em;
            width: 90%;
            height: 40px;
            margin: .5em auto;
            background: #55505A;
            border-radius: 5px;
            ul {
                display: inline-block;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            h6 {
                display: inline-block;
                font-size: 100%;
                font-family: $main-font;
                margin-top: .6em;
            }
            img {
                float: left;
                margin-right: 1em;
                width: 40px;
                height: 100%;
            }
        }
    }
}

#music-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: $main-font;
    font-size: 95%;
    border-top: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    
    #track-details {
        flex: 1;
        text-align: left;
        p {
            margin: 0;
        }
        #track-info {
            float: left;
            margin-left: 1em;
            margin-top: .4em;
        }
    }
    #center-audio-controls {
        flex: 3;
        #like-track {
            float: left;
            width: 22px;
            height: 22px;
            background-image: url('../../assets/track-like.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: .9em;
            margin-left: 1em;
            transition: all .1s;
            &:hover {
                cursor: pointer;
                background-image: url('../../assets/track-like-active.svg');
            }
        }
        #volume-button {
            float: left;
            width: 22px;
            height: 22px;
            background-image: url('../../assets/volume-control.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: .9em;
            margin-left: 2em;
            &:hover {
                cursor: pointer;
            }
        }
        p {
            display: inline-block;
            position: relative;
            top: -2px;
        }
        #middle-controls {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 70%;
            height: 40px;
            margin-top: .1em;
        }
        #progress-wrapper {
            display: inline-block;
            padding: 0 1em;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        #playback-progress {
            margin-top: 1.5em;
            background: gray;
            width: 100%;
            height: 1px;
        }
        #progress-ball {
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: $name-color;
            position: relative;
            top: -6px;
            left: 0px;
        }
    }
    #right-audio-controls {
        flex: 1;
        button {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 1em;
            margin-top: .8em;
            width: 20px;
            height: 20px;
            &:hover {
                cursor: pointer;
            }
        }
        .pause-button {
            background-image: url('../../assets/pause.svg');
        }
        .play-button {
            background-image: url('../../assets/play-button.svg');
        }
        #skip-left-btn {
            background-image: url('../../assets/skip-track.svg');
            transform: scaleX(-1);
            opacity: 0.8;
            transition: all .2s;
            &:hover {
                opacity: 1;
            }
        }
        #skip-right-btn {
            background-image: url('../../assets/skip-track.svg');
            opacity: 0.8;
            transition: all .2s;
            &:hover {
                opacity: 1;
            }
        }
    }
}